#footer{
    
    .footer{
        padding: 6rem 0;
        @include max(435){
            padding: 8rem 0;
        }
        
        &__logo{
            svg{
                     width: 116px;
                     display: block;
                margin: auto;
               
               
                g{
                    display: none;
                }
            }
            
        }
        
        &__address{
            
            text-align: center;
            p{
                font-size: 1.1rem;
                &:nth-of-type(1){
                    color: rgba(102, 102, 102, 1);
                  
                    font-weight: bold;
                    text-transform: uppercase;
                    
                }
                 &:nth-of-type(2){
                    color: rgba(102, 102, 102, 1);
                    
                    
                }
                margin-bottom: 1rem;
              
            }
              a{
                    color: rgba(102, 102, 102, 1);
                    font-size: 1.1rem;
                    text-decoration: underline;
                }
        }
    }
}